html, body, dl {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  width: 200px;
}

header {
  background: #2077ce;
  padding: 10px;
  color: #fff;
}

dl {
  padding: 10px 10px 0;
}

dt {
  padding-bottom: 5px;
}

dt:last-child {
  padding-bottom: 0px;
}

dd {
  font-size: 12px;
  margin: 0 0 10px 0;
}

a {
  color: #336688;
}

a:hover {
  color: #28517a;
}

a:visited {
  color: #5b84ad;
}